<a href="https://colab.research.google.com/github/josandrea21/hello-world/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#siurve para trabajar con un dataframe
import pandas as pd
#llamada pandas pero presentado como pd
import matplotlib.pyplot as m

In [9]:
#filas y columnas
dicc = {"a":[4,85,55],"b":[55,3,565]}
dicc

{'a': [4, 85, 55], 'b': [55, 3, 565]}

In [13]:
df = pd.DataFrame(dicc)
df

    a    b
0   4   55
1  85    3
2  55  565

In [51]:
a = open("earthquakes.csv","r")
b = a.read()
b

# segunda manera de leer un archivo
import pandas
df = pd.read_csv("https://raw.githubusercontent.com/ryali93/UNMSM_programacion/master/data/earthquakes.csv")
type(df)
df

                    DateTime  Latitude  Longitude  ...   RMS  Source       EventID
0     2002/01/01 10:39:06.82  -55.2140  -129.0000  ...  1.07     NEI  2.002010e+11
1     2002/01/01 11:29:22.73    6.3030   125.6500  ...  0.90     NEI  2.002010e+11
2     2002/01/02 14:50:33.49  -17.9830   178.7440  ...  1.08     NEI  2.002010e+11
3     2002/01/02 17:22:48.76  -17.6000   167.8560  ...  0.90     NEI  2.002010e+11
4     2002/01/03 07:05:27.67   36.0880    70.6870  ...  0.87     NEI  2.002010e+11
5     2002/01/03 10:17:36.30  -17.6640   168.0040  ...  1.14     NEI  2.002010e+11
6     2002/01/10 11:14:56.93   -3.2120   142.4270  ...  1.18     NEI  2.002011e+11
7     2002/01/13 14:10:56.52   -5.6510   151.0740  ...  1.06     NEI  2.002011e+11
8     2002/01/15 04:47:59.85  -17.3340   167.7220  ...  1.09     NEI  2.002012e+11
9     2002/01/15 07:12:58.03   -6.3140   105.2050  ...  1.23     NEI  2.002012e+11
10    2002/01/15 09:01:15.95   -5.5270   151.0970  ...  0.96     NEI  2.002012e+11
11    2002/01/16 23:09:52.08   15.5020   -93.1330  ...  0.94     NEI  2.002012e+11
12    2002/01/22 04:53:52.65   35.7900    26.6170  ...  0.95     NEI  2.002012e+11
13    2002/01/28 13:50:28.72   49.3810   155.5940  ...  0.82     NEI  2.002013e+11
14    2002/01/28 15:09:55.89  -15.3040  -173.2250  ...  1.01     NEI  2.002013e+11
15    2002/01/30 12:58:19.22   -6.2520   150.8870  ...  0.82     NEI  2.002013e+11
16    2002/02/03 07:11:28.41   38.5730    31.2710  ...  0.00     ISK  2.002020e+11
17    2002/02/03 09:26:43.35   38.6320    30.9020  ...  0.91     NEI  2.002020e+11
18    2002/02/05 13:27:24.67   -5.3450   151.2480  ...  0.88     NEI  2.002021e+11
19    2002/02/15 01:46:37.85  -36.2310  -100.3010  ...  1.20     NEI  2.002022e+11
20    2002/02/19 00:35:45.70   -3.7310   150.9920  ...  1.41     NEI  2.002022e+11
21    2002/02/28 01:50:48.94   -5.6850   151.2580  ...  0.87     NEI  2.002023e+11
22    2002/03/03 12:08:07.81   36.4290    70.4380  ...  1.00     NEI  2.002030e+11
23    2002/03/03 12:08:19.74   36.5020    70.4820  ...  1.06     NEI  2.002030e+11
24    2002/03/05 21:16:09.13    6.0330   124.2490  ...  0.95     NEI  2.002031e+11
25    2002/03/08 18:27:53.19    5.8710   124.2740  ...  0.89     NEI  2.002031e+11
26    2002/03/09 12:27:11.22  -56.0190   -27.3320  ...  0.85     NEI  2.002031e+11
27    2002/03/17 19:33:33.78  -45.2210    35.1050  ...  1.24     NEI  2.002032e+11
28    2002/03/19 22:14:14.93   -6.4860   129.9010  ...  0.74     NEI  2.002032e+11
29    2002/03/25 14:56:33.82   36.0620    69.3150  ...  1.07     NEI  2.002033e+11
...                      ...       ...        ...  ...   ...     ...           ...
2383  2016/11/11 21:42:59.65   38.4973   141.5658  ...  1.05      us  2.016111e+11
2384  2016/11/13 11:02:56.35  -42.7358   173.0499  ...  0.57      us  2.016111e+11
2385  2016/11/13 11:32:06.54  -42.3205   173.6694  ...  1.45      us  2.016111e+11
2386  2016/11/13 11:52:45.01  -42.1762   173.6227  ...  1.10      us  2.016111e+11
2387  2016/11/13 13:31:26.29  -42.2972   173.6997  ...  0.68      us  2.016111e+11
2388  2016/11/14 00:34:22.61  -42.6058   173.2543  ...  1.05      us  2.016111e+11
2389  2016/11/20 20:57:44.00  -31.6259   -68.6363  ...  1.00      us  2.016112e+11
2390  2016/11/21 20:59:50.14   37.3938   141.3507  ...  0.74      us  2.016112e+11
2391  2016/11/24 18:43:47.74   11.9191   -88.8922  ...  1.00      us  2.016112e+11
2392  2016/11/25 14:24:30.59   39.2300    74.0208  ...  0.86      us  2.016113e+11
2393  2016/12/01 22:40:26.61  -15.3122   -70.8270  ...  1.11      us  2.016120e+11
2394  2016/12/05 01:13:04.88   -7.3158   123.3802  ...  1.03      us  2.016121e+11
2395  2016/12/06 22:03:33.39    5.2834    96.1678  ...  1.13      us  2.016121e+11
2396  2016/12/08 05:15:04.60   43.8229    86.3451  ...  0.82      us  2.016121e+11
2397  2016/12/08 14:49:45.91   40.4535  -126.1936  ...  1.11      us  2.016121e+11
2398  2016/12/08 17:38:46.28  -10.6787   161.3214  ...  0.87      us  2.016121e+11
2399  2016/12/08 21:56:07.50  -10.8416   161.3137  ...  0.98      us  2.016121e+11
2400  2016/12/09 19:10:06.84  -10.7490   161.1316  ...  0.88      us  2.016121e+11
2401  2016/12/10 16:24:34.97   -5.6593   154.4734  ...  0.80      us  2.016121e+11
2402  2016/12/14 02:01:22.81   21.2897   144.4037  ...  1.01      us  2.016121e+11
2403  2016/12/17 10:51:10.50   -4.5049   153.5216  ...  0.97      us  2.016122e+11
2404  2016/12/17 11:27:36.17   -5.6291   154.0216  ...  0.84      us  2.016122e+11
2405  2016/12/18 09:47:06.13    8.3725   137.6736  ...  1.06      us  2.016122e+11
2406  2016/12/18 13:30:10.68   -9.9738   -70.9698  ...  0.74      us  2.016122e+11
2407  2016/12/20 04:21:29.15  -10.1750   161.2271  ...  0.87      us  2.016122e+11
2408  2016/12/20 12:33:14.24  -10.1785   160.9149  ...  0.88      us  2.016122e+11
2409  2016/12/21 00:17:14.99   -7.5082   127.9206  ...  1.20      us  2.016122e+11
2410  2016/12/24 01:32:16.04   -5.2453   153.5754  ...  0.91      us  2.016122e+11
2411  2016/12/25 14:22:27.05  -43.4029   -73.9395  ...  0.80      us  2.016123e+11
2412  2016/12/29 22:30:19.30   -9.0283   118.6639  ...  1.43      us  2.016123e+11

[2413 rows x 12 columns]

In [0]:
# primera manera de obtener datos del archivo
df["Magnitude"]
# segunda manera de obtener datos del archivo
df.Magnitude

In [29]:
df[df.Magnitude > 7]
len(df[df.Magnitude > 7])

199

In [33]:
df["Latitude"]
len(df[df.Latitude < 0])

1345

In [0]:
# y
df[(df.Magnitude > 7) & (df.Latitude < 0)]
# o
df[(df.Magnitude > 7) | (df.Latitude < 0)]

In [55]:
#terremotosen peru aprox.
d = df[(df["Latitude"].between(-18,0)) & (df["Longitude"].between(-82,-69))]
d[d["Magnitude"] == max(d["Magnitude"])]

                   DateTime  Latitude  Longitude  ...   RMS  Source       EventID
867  2007/08/15 23:40:57.89   -13.386    -76.603  ...  0.86     NEI  2.007082e+11

[1 rows x 12 columns]